@model TSA.Infrastructure.DTOs.PolicyTypeDTO

@{
    ViewData["Title"] = "Crear Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Policy</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="PolicyType" asp-action="Index">Listado de Policies</a></li>
                    <li class="breadcrumb-item active">Crear Policy</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <form asp-page-handler="Create" method="post" id="quickForm">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Crear Policy</h3>
            </div>
            <div class="card-body">
                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>

                        @Html.ValidationSummary()
                    </div>
                }
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Description" name="Description" class="form-control" placeholder="Ingrese la Descripción">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 text-center">
                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        &nbsp;
                        <button type="submit" class="btn btn-success">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts{
    <script>
        $(window).on("load", function () {
            if ('@TempData["message"]' == "Created") {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Policy',
                    subtitle: '',
                    body: 'La Policy ha sido creada.',
                    autohide: true,
                    delay: 3000
                })
            }
            if ('@TempData["message"]' == "Error") {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Policy',
                    subtitle: 'Error',
                    body: 'Ha ocurrido un error al procesar la solicitud.',
                    autohide: true,
                    delay: 3000
                })
            }
        });

        $(function () {
            $('#quickForm').validate({
                rules: {
                    Description: {
                        required: true,
                        minlength: 4
                    },
                },
                messages: {
                    Description: {
                        required: "Por favor ingrese una Descripción",
                        minlength: "Ingrese mínimo 4 letras"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    error.insertAfter(element.closest(element));
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

    </script>
}