@using TSA.Infrastructure.DTOs
@model List<NTPServerDTO>
@{
    ViewData["Title"] = "Servidores NTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Servidores NTP</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Listado de Servidores NTP</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Listado de Servidores NTP</h3>
        </div>
        <div class="card-body">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Alerta!</h5>

                    @Html.ValidationSummary()
                </div>
            }
            @if (Context.User.Claims.Any(c => c.Type == "Servidores NTP.Create" && c.Value == "True"))
            {
                <div class="col-12">
                    <div class="float-right">
                        <a asp-action="Create" asp-controller="NTPServers" class="btn btn-success">Nuevo Servidor NTP</a>
                    </div>
                </div>
            }
            <table id="nTPServersTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ServerUrl</th>
                        @if (Context.User.Claims.Any(c => c.Type == "Servidores NTP.Read" && c.Value == "True"))
                        {
                            <th class="text-center">Ver</th>
                        }
                        @*@if (Context.User.Claims.Any(c => c.Type == "Servidores NTP.Update" && c.Value == "True"))
                        {
                            <th class="text-center">Editar</th>
                        }*@
                        @if (Context.User.Claims.Any(c => c.Type == "Servidores NTP.Delete" && c.Value == "True"))
                        {
                            <th class="text-center">Borrar</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.IsActive == true)
                        {
                    <tr>
                        <td>@item.ServerUrl</td>
                        @if (Context.User.Claims.Any(c => c.Type == "Servidores NTP.Read" && c.Value == "True"))
                        {
                            <td class="text-center">
                                <a asp-controller="NTPServers" asp-action="View" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        }
                        @*@if (Context.User.Claims.Any(c => c.Type == "Servidores NTP.Update" && c.Value == "True"))
        {
            <td class="text-center">
                <a asp-controller="NTPServers" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success text-white" style="cursor:pointer">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </td>
        }*@
                        @if (Context.User.Claims.Any(c => c.Type == "Servidores NTP.Delete" && c.Value == "True"))
                        {
                            <td class="text-center">
                                <form method="post" asp-controller="NTPServers" asp-action="SoftDeleteAndSave" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-default-@item.Id">
                                        <i class="fa fa-solid fa-trash fa-xs"></i>
                                    </button>
                                    <div class="modal fade" id="modal-default-@item.Id">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Borrar Servidor NTP</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-left">
                                                    <p>&iquest;Est&aacute; seguro de borrar el Servidor NTP <strong>@item.ServerUrl</strong>?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        }
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts{
    <script>

        $(function () {
            $("#nTPServersTable").DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": [
                    {
                        extend: "copy",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0]
                        }
                    },
                    {
                        extend: "csv",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0]
                        }
                    },
                    {
                        extend: "excel",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0]
                        }
                    },
                    {
                        extend: "print",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0]
                        }
                    }
                ]
            }).buttons().container().appendTo('#nTPServersTable_wrapper .col-md-6:eq(0)');
        });

        $(document).ready(function () {
            if ('@TempData["message"]' == "Deleted") {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Servidor NTP',
                    subtitle: 'Eliminado',
                    body: 'El Servidor NTP ha sido eliminado.',
                    autohide: true,
                    delay: 3000
                })
            }
            if ('@TempData["message"]' == "Error") {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Servidor NTP',
                    subtitle: 'Error',
                    body: 'Ha ocurrido un error al procesar la solicitud.',
                    autohide: true,
                    delay: 3000
                })
            }
        });
    </script>
}
