@using TSA.Infrastructure.DTOs
@model List<AlertDTO>

@{
    ViewData["Title"] = "Alertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Alertas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Listado de Alertas</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Listado de Alertas</h3>
        </div>
        <div class="card-body">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Alerta!</h5>

                    @Html.ValidationSummary()
                </div>
            }
            <table id="AlertTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Alerta</th>
                        <th>Descripci&oacute;n</th>
                        <th class="text-center">Usuarios</th>
                        <th class="text-center">Administrar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.IsActive == true)
                        {

                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td class="text-center">@item.UserCount</td>
                                <td class="text-center">
                                    <a asp-controller="Alert"asp-action="AlertUser"asp-route-id="@item.Id"><i class="fas fa-cog"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts{
    <script>

        $(function () {
            $("#AlertTable").DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": [
                    {
                        extend: "copy",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: "csv",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: "excel",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: "print",
                        exportOptions: {
                            modifier: {
                                order: 'applied', // 'current', 'applied','index', 'original'
                                page: 'all', // 'all', 'current'
                                search: 'applied' // 'none', 'applied', 'removed'
                            },
                            columns: [0, 1, 2]
                        }
                    }
                ]
            }).buttons().container().appendTo('#AlertTable_wrapper .col-md-6:eq(0)');
        });

        $(document).ready(function () {
            if ('@TempData["message"]' == "Deleted") {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Alerta',
                    subtitle: '',
                    body: 'La Alerta ha sido eliminada.',
                    autohide: true,
                    delay: 3000
                })
            }
            if ('@TempData["message"]' == "Error") {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Alerta',
                    subtitle: 'Error',
                    body: 'Ha ocurrido un error al procesar la solicitud.',
                    autohide: true,
                    delay: 3000
                })
            }
        });

    </script>
}
